<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357411246273-s1gnr4dc9v1tc2s6igtnqg0c27ablfja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357411246273-s1gnr4dc9v1tc2s6igtnqg0c27ablfja</string>
	<key>API_KEY</key>
	<string>AIzaSyBBWqawzJFBCQD4Fkb2T_ooj-EMKAv-0rk</string>
	<key>GCM_SENDER_ID</key>
	<string>357411246273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-899ef</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-899ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357411246273:ios:c96d3f0a2b8ca7c62d4440</string>
</dict>
</plist>