<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436445555569-hq17o43ivt99v6ct4kd1me0niaitsk3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436445555569-hq17o43ivt99v6ct4kd1me0niaitsk3v</string>
	<key>API_KEY</key>
	<string>AIzaSyD8prC_EU0jceN8-8y9PfE6zoCjiT5OhZg</string>
	<key>GCM_SENDER_ID</key>
	<string>436445555569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snakeGame</string>
	<key>PROJECT_ID</key>
	<string>snakegame-911c8</string>
	<key>STORAGE_BUCKET</key>
	<string>snakegame-911c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436445555569:ios:f0c6a012386add2f0224d0</string>
</dict>
</plist>